$boe-dark: #0e4278;

.boe {
  text-align: center;

  &--header {
    background-color: white;
    height: 150px;
    padding: 20px;
  }

  &--logo {
    height: 80px;
    animation: roll 3s infinite;
    transform: scale(2);
  }

  &--diaries-container {
    border: 1px solid $boe-dark;
    margin: auto;
    border-radius: 5px;
    padding: 6px;

    &:hover {
      background: grey;
    }
  }
}
